# App artifacts
/config/themes.exs
deps
node_modules
/_build
/deps
/*.ez
/apps/*
!/apps/xee

# Generate on crash
erl_crash.dump
npm-debug.log

# Static artifacts
/apps/xee/assets/node_modules

# Since we are building assets from web/static,
# we ignore priv/static. You may want to comment
# this depending on your deployment strategy.
/apps/xee/priv/static

# The config/prod.secret.exs file by default contains sensitive
# data and you should not commit it into version control.
#
# Alternatively, you may comment the line below and commit the
# secrets file as long as you replace its contents by environment
# variables.
/apps/xee/config/prod.secret.exs

# Others
.DS_Store
apps/xee/assets/yarn-error.log
apps/xee/assets/yarn.lock
