<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <%= if assigns[:title] do %>
      <title>XEE.JP - <%= @title %> -</title>
    <% else %>
      <title>XEE.JP</title>
    <% end %>
      <style type="text/css">
        .introbtn {
          /*background: -moz-linear-gradient(top,#FFF 0%,#EEE);
            background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#333));*/
          /*border: 1px solid #888;*/
          color:#111;
          background-color: #90EE90;
          /*text-decoration: none;
            text-align: center;*/
          font-size: 0.9em;
          border: none;
          border-radius: 2px;
          display: inline-block;
          /* height: 36px; */
          /*line-height: 5px;*/
          outline: 0;
          padding: 2px;
          /* text-transform: uppercase; */
          /* vertical-align: middle; */
          /* -webkit-tap-highlight-color: transparent; */
        }
      </style>
      <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
      <link rel="shortcut icon" href="<%= static_path(@conn, "/favicon.ico") %>">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.1.0/introjs.min.css" rel="stylesheet" type="text/css">
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.1.0/intro.min.js"></script>
  </head>

  <body>
    <ul id="dropdown" class="dropdown-content">
      <li><a href="<%= host_path(@conn, :index) %>">実験管理画面</a></li>
      <li><a href="<%= theme_path(@conn, :explore, "category") %>">テーマ一覧</a></li>
      <li class="divider"></li>
      <li><%= link "ログアウト", to: session_path(@conn, :delete) %></li>
    </ul>
    <div class="row">
      <nav>
        <div class="nav-wrapper light-blue darken-3">
          <div class="">
            <a href="/" class="brand-logo left" style="padding-left: 4%;">XEE.JP</a>
            <%= if assigns[:title] do %>
              <span class="brand-logo center hide-on-small-only"><%= @title %></span>
              <%= end %>
              <ul class="right">
                <%= if logged_in?(@conn) do %>
                  <li><a class="dropdown-button" data-beloworigin="true" href="#!" data-activates="dropdown" style="min-width: 130px; text-align: center;"><%= current_user(@conn).name %></a></li>
                <% else %>
                  <li id='step_registration'><%= link "新規登録", to: registration_path(@conn, :new) %></li>
                  <li><%= link "ログイン", to: session_path(@conn, :new) %></li>
                <% end %>
              </ul>
          </div>
        </div>
      </nav>
    </div>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <div class="container" role="main" >
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>

    </div> <!-- /container -->

    <footer class="page-footer light-blue darken-3" style="padding:10px; bottom:0;" id="footer">
      <center>
        <div class="footer-copyright light-blue darken-3" style="overflow:visible; line-height:20px;">
          <div class="container" >
            <ul>
              <li>&copy; 2015 <a href="https://www.facebook.com/hryohei"><font color="#FF0000">Ryohei HAYASHI</font></a> All Rights Reserved.</li>
              <li>Powered by <a href="https://github.com/xeejp/xee"><font color="#FF0000">Xee System</font></a>.</li>
            </ul>
          </div>
        </div>
      </center>
    </footer>

    <script>
      $(document).ready(function() {
        $('select').material_select();
      });
      $(".dropdown-button").dropdown();
      $('.modal-trigger').leanModal();
    </script>
  </body>
</html>
